
@font-face{
	font-family: "Lemon";
	src: url("../fonts/Lemon Brush - Personal Use.otf")
} 
/*if font is downloaded*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*default-font*/
	font-family: 'Acme', sans-serif;
}

/* Color Theme Notes 
	Green #70be5b rgba(112, 190,91, .6)
	Blue #68bbe5 rgba(vh04,187,229, .4)
	Yellow #fdf100 rgba(253,241,0, .6)
	Indigo #4e53a5 rgba(78,83,165,.8)
	Pink #ffc0cb rgba(255,192,203,.5)
   */


/*Start of navbar*/

	nav{
		background-color: rgba(78,83,165,.8); /*indigo*/
		width: 100%;
		display: block;
		/*text-shadow: 1px 1px white;*/
		letter-spacing: 3px;
	}


	.navbar-brand:hover, .navbar-nav .nav-item.active .nav-link,
	.navbar-nav .nav-item:hover .nav-link {
	    color: #4e53a5;
	    background-color: rgba(242, 242, 242, 0.8);
	    text-shadow: none;
	}


	.nav-item{
		text-align: right;
	}

	nav a, #nav-btn{
		color: #ffc0cb;
		padding-top: 5px;
	}

	nav>a{
		letter-spacing: .5em;
	}

	nav a, #nav-btn{
	color: #ffc0cb;
	padding-top: 5px;
	font-size: 20px;
	font-weight: bolder;
	}

	nav>a{
		letter-spacing: .5em;
	}

	nav i{
		font-size: 30px;
		margin-right: 8px; 
		margin-top: 5px;
	}

	.sticky{
		position: fixed;
		top: 0;
		width: 100%;
	}

	.active{
		color: rgba(225,225,225,4);
	}
/*End of navbar*/


/*Start of landing page*/

	html{
		scroll-behavior: smooth;
	}


	.landbg{
		background-image: url(./../images/landing-img.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
	}
	.page-header{
		
		background-color:rgba(78,83,165,.7); 
		/*width: 100%*/
		margin: 0 auto;
		height: 40px;
		text-align: right;	
	}


	h1{
		font-family: 'Permanent Marker', cursive;
		margin-left: 40px;
		font-size: 50px;
		font-weight: bolder;
		text-transform: uppercase;
		letter-spacing: .5em;
		color: #ffc0cb;
		text-shadow: 4px 4px 5px #333;

	}

	.job-item{
		font-family: 'Permanent Marker', cursive;
		width: 100%
		font-size:30px;
		font-weight: bold;
		letter-spacing: 2px;
		text-shadow: 1px 1px 1px #333;
		color: #ffc0cb;
		filter: none;
		}

	.container-diamond{
		/*border: 1px solid red;*/
		position: absolute;
		bottom: 25%;
	}
	.row{
		height:120px; 
	}

	.box {
		height: 150px;
		width: 150px;
		float: left;
		display: inline-block;
		overflow: hidden;
		background: transparent;
		text-decoration: none;
		transform: rotate(45deg);
	}

	.text {
		font-size: 30px;
		text-transform: uppercase;
		transform: rotate(-45deg);
	}

	.clear::after {
		content: '';
		display: table;
		clear: both;
	}

	.btn-primary{
		background-color: rgba(78,83,165,.3);
		border: 3px solid rgba(78,83,165,.5);
		text-decoration: none;	
	}

	.btn-primary a{
		color: #ffc0cb;
		text-decoration:none;
		text-shadow: 4px 4px 5px #333;
	}

	.btn-primary:hover{
		background-color: #4e53a5;
		border: none;
	}

	footer{
		width: 100%;
		color:#ffc0cb;
		background-color: rgba(78,83,165,.8); /*indigo*/
		margin: none;
		position: absolute;
		bottom: 0px;
		text-align: right;
	}
/*End of landing page*/

/*animation*/
	.row{
		
		animation-delay: 1s;
	}


/*end of animation*/

/*About Me Page*/

	#home-body{
		background-image: radial-gradient(circle, rgba(78,83,165,0.5) 67%, rgba(255,192,203,0.5) 100%), url(./../images/GMMY2037.JPG);
		background-size: cover;
		height: 100vh;
		background-attachment: fixed;

		}
	/*Carousel*/
		.carousel-about{
			height: 700px;
		}

		.carousel-inner{
			height: 700px;			
		}

		.carousel-item{
			height: 700px;
		}

		.carousel-image{
			width: auto;
			height: 100%;
		}

		#carousel-home{
			width: 100%;
		}
	/*end of carousel*/


	/*About Me*/
		#about-me{
			height: 800px;
			margin-top: 20px;
		}
		#about-me-img{
			height: 700px;
		}

		#about-me h3{
			background-color: rgba(255,192,203,.8);
			color: #4e53a5;
		}

		#about-me p{
			color: #ffc0cb;
			font-size: 35px;
			
		}

		#about-org{
			background-image: url(./../images/GMMY2171.JPG);
			background-size: cover;
			height: 800px;
			text-align: center;
			color: #fdf100;
		}
		#about-org h3{
			background-color: rgba(78,83,165,.6)
		}

		#about-org h4{
			font-size: 30px;
			text-shadow: 3px 3px 3px #333;
		}

		.logo-icon{
			height: 150px;
			margin: 10px;
		}	
	/*end				*/
/*End of About Me Page*/

/*Photography Page*/
	
	#photo-body{
		background-image: url(/../images/1.jpg);
		background-size: cover;
		height: 100vh;
		background-attachment: fixed;
		background-color: #333;

	}

	.photography-img{
		height: 100px;
		float: left;
		display: block;
		margin: 5px;
	}

	#photo-nav{
		text-align: center;
	}
	#photo-nav a{
		font-size: 40px;
		color: #4e53a5;
		margin-right: 20px;
		text-shadow: 2px 2px 2px #f2f2f2;
	}

	.photo-title{
	color: #ffc0cb;
	}

	#photo-body section{
		box-sizing: content-box;
		object-fit: contain;
		height: 200px;
		width: 100%;
	}

	#event{
		margin-top: 300px;
	}
/*Resume page*/
	
	#resume-body{
		background-color: #333;
		color: #ffc0cb;
	}

	#details{
		margin-top: 30px;
	}

	fieldset{
		border: 2px solid #ffc0cb;
		border-radius: 5px;
		width: 100%;
		object-fit: contain;
	}

	legend{
		width: auto;
	}
	#resume-edu{
		height: 300px;
	}

	#details h4{
		margin-left: 20px;
	}

	#details p{
		margin-left: 50px;
	}

	#resume-work{
		height: 600px;
	}
	.work-hidden{
		display: none;
	}

	.toggle:focus +.work-hidden{
		display: block;
	}

	.btn-sm{
		color: pink;
		outline-color: #333;
	}

	/*.hidden-drop:active .work-hidden{
		display: block;
	}*/

	#resume-work p{
		margin-top:  0;
	}

	#resume-skills{
		height: 1000px;
		float: right;
		margin-top: 30px;
	}

	#hard-skills h4{
		margin-left: 20px;
	}

	.resume-logo{
		height: 60px;
		margin: 20px
	}

	#resume-dev{
		margin-top: 1020px;
		height: 600px;

	}

	#dev-field{
		height: 500px;
	}

	.card img{
		height: 250px;
	}
	

	#hard-skills h3{
		text-align: center;

	}

	#soft-skills li{
		font-size: 20px;
		margin-left: 40px;
		margin-bottom: 5px; 
	}
	
/*End of Resume Page*/

/*Contact Form*/
	.form-group{
		color: #ffc0cb;
	}
/*End of Contact Form*/






footer{
	width: 100%;
	color:#ffc0cb;
	background-color: rgba(78,83,165,.8); /*indigo*/
	margin: none;
	position: fixed;
	}



/*Media Queries*/
/*Mobile Phones*/
@media only screen and (max-width: 450px){
	
	
	/*Landing Page*/
		.landbg{
			background-image: url(./../images/landing-img-mobile.jpg);
			/*background-image: url(./../images/l1-mobile.jpg);*/
			background-size: cover;
			background-repeat: no-repeat;
			height: 100vh;
			/*background-attachment: fixed;*/

		}

		html{
			width: 100%;
			height: 100vh;
		}

		.page-header{
			height: 25px;
		}

		.page-header i{
		color: #ffc0cb;
		margin:5px;
		}


		h1{
			font-size: 30px;
			font-weight: bolder;
			letter-spacing: 2px;
			text-shadow: 3px 3px 0px #333;
			width: 60%;
			margin:0px 0px 0px 10px;
			display: inline-block;
			
		}
		.job-bg{
			filter: blur(5px);
			background-color: rgba(78,83,165,.5);
			height: 140px;
			width: 30%;
			float: right;

		}

		.job{
			position: absolute;
			top: 25px;
			right: 0px;
		}

		.job-item{
			font-size: 10px;
			text-align: right;

		}


		.box {
			height: 80px;
			width: 80px;
			float: left;
			display: inline-block;
			overflow: hidden;
			background: transparent;
			text-decoration: none;
			transform: rotate(45deg);
		}

		.row{
			height: 70px;

		}

		.text {
			font-size: 10px;
			text-transform: uppercase;
			transform: rotate(-45deg);
		}

		.btn-primary{
			background-color: rgba(78,83,165,.5);
			border: 2px solid rgba(242, 242, 242, .6);

		}

		.btn-primary a{
			font-size: 15px;
			font-weight: bolder;

		}
		

		.container-diamond{
			position: absolute;
			top: 55%;
		}

		footer{
			font-size: 10px;
		}
	/*end of landing page*/

	/*About me Page*/
		.carousel-about,
		.carousel-inner,
		.carousel-item{
			height: 200px;
		}

		#about-me{
			height: 900px;
		}

		#about-me-img{
			height: 500px;
		}

		#about-me h3,
		#about-org h3{
			font-size: 40px;
		}

		#about-me p{
			font-size: 15px;
		}

		#about-org{
			height: 500px;
		}

		#about-org h4{
			font-size: 20px;
		}

		.logo-icon{
			height: 50px;
		}
	/*end of About me page*/

	/*Resume*/
		#resume-head h1{
			width: 100%;
			font-size: 40px;
		}
		#details{
			margin: 0;
		}

		#resume-head h3{
			font-size: 20px;
		}

		#resume-edu{
			height: 350px;
		}

		#resume-edu h4{
			font-size: 22px;
		}

		#resume-edu p{
			font-size: 18px;
		}

		#resume-work{
			height: 650px;
		}
		#resume-work h3{
			font-size: 20px;
		}

		#resume-work h4{
			font-size: 16px;
		}

		#resume-work p{
			font-size: 12px
		}

		#resume-dev{
			margin-top: 2400px;
		}

		#hard-skills h4{
			margin-left: 20px;
		}
	/*End of Resume*/


	/*Photography*/

		#photo-nav a{
			font-size: 25px;
		}
		.photography-img{
			height: 60px;
		}
		.container h2{
			font-size: 30px;
		}
	/*end of Photography*/
}

@media only screen and (min-width: 451px) and (max-width: 1025px){

	/*landing page*/
		.landbg{
			background-image: url(./../images/landing-img-tablet.jpg);
			/*background-image: url(./../images/l1-tab.jpg);*/
			background-size: cover;
			height: 100vh;
			background-attachment: fixed;
		}

		.page-header{
			height: 40px;
		}

		.page-header i{
			color: #ffc0cb;
			margin:5px;
			font-size: 30px;
		}	

		h1{
			font-size: 55px;
			font-weight: bolder;
			letter-spacing: 2px;
			text-shadow: 3px 3px 0px #333;
			text-align: left;
			width: 50%;
			display:inline-block;
			
		}

		.job-bg{
			filter: blur(5px);
			background-color: rgba(78,83,165,.5);
			height: 250px;
			width: 30%;
			float: right;

		}

		.job{
			position: absolute;
			top: 40px;
			right: 0px;
		}

		.job-item{
			font-size: 20px;
			text-align: right;
			color: #ffc0cb;
		}



		.btn-primary{
			background-color: rgba(78,83,165,.5);
			border: 2px solid rgba(242, 242, 242, .6);

		}

		.btn-primary a{
			font-size: 25px;
			font-weight: bolder;

		}
		

		.container-diamond{
			position: absolute;
			top: 55%;
		}
	/*end of landing page*/

	/*About me Page*/
		#about-me h3{
			font-size: 40px;
		}
		#about-me p{
			font-size: 25px;
		}

		.logo-icon{
			height: 100px;
		}
	/*End of About me page*/

	/*Resume*/
		#resume-head h1{
			width: 100%;
		}

		#resume-edu{
			height: 400px;
		}

		#resume-work{
			height: 950px;
		}

		#resume-dev{
			margin-top: 1500px;
		}

		#hard-skills h4{
			margin-left: 20px;
		}

	/*End of Resume*/

	/*Photography*/
		#event{
			margin-top: 500px;
		}
		#travel .container{
			margin-bottom: 100;
		}

	/*End of Photography*/

}

@media only screen and (min-width: 1026px){


	/*landing Page*/
		.job-bg{
			height: 100px;
			width:70%;
			background-color: rgba(78,83,165,.5);
			filter:blur(5px);
			position: absolute;
			top: 35px;
			float: left;
			z-index: 1;
			
			}
		.job{
			z-index: 10;
			position: relative;
		}


		.job-item{
			font-family: 'Permanent Marker', cursive;
			width: 100%
			font-size:50px;
			font-weight: bold;
			letter-spacing: 2px;
			text-shadow: 1px 1px 1px #333;
			color: #ffc0cb;
			filter: none;
			display: inline-block;
			margin-right: 15px;
			margin-left: 30px;
			
			
			}

			h1{
				z-index: 10;
				position: relative;
			}

			.page-header i{
				color: #ffc0cb;
				margin:5px;
				font-size: 35px;
			}
	/*end of landing page*/

}