*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/*default-font*/
	font-family: 'Fredoka One', cursive;
}

/* Color Theme Notes 
	Green #70be5b rgba(112, 190,91, .6)
	Blue #68bbe5 rgba(104,187,229, .4)
	Yellow #fdf100 rgba(253,241,0, .6)
	Indigo #4e53a5 rgba(78,83,165,.8)
	Pink #ffc0cb rgba(255,192,203,.5)
   */

html{
	scroll-behavior: smooth;
}

/*Start of navbar*/

nav{
	background-color: rgba(78,83,165,.8); /*indigo*/
	width: 100%;
	display: block;
	/*text-shadow: 1px 1px white;*/
	letter-spacing: 3px;
}


.navbar-brand:hover, .navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #4e53a5;
    background-color: rgba(242, 242, 242, 0.8);
    text-shadow: none;
}


.nav-item{
	text-align: right;
}

nav a, #nav-btn{
	color: #ffc0cb;
	padding-top: 5px;
	font-size: 20px;
	font-weight: bolder;
}

nav>a{
	letter-spacing: .5em;
}

nav i{
	font-size: 30px;
	margin-right: 8px; 
	margin-top: 5px;
}



/*End of navbar*/



body{
	background-image: url(./../images/GMMY2037.JPG);
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;

}


/*About Me Page*/

.about-photo{
	height: 600px;
	display: inline;
	

}

#carousel-home{
	height: 100vh;
}

#carousel-home img{
	height: 90vh;
}



/*End of About Me Page*/



.card img{
	height: 150px;
}


#mission{
	
}





footer{
	width: 100%;
	color:#ffc0cb;
	background-color: rgba(78,83,165,.8); /*indigo*/
	/*margin: none;
	position: absolute;
	bottom: 0px;
	text-align: right;*/
}


/*End of Landing Page*/







/*Media Queries*/
/*Mobile Phones*/
@media screen and (max-width: 400px){
	
	body{
	background-image: url(./../images/landing-img-mobile.jpg);
	background-size: cover;
	/*color: blue;*/
	}

	.container{
		position: absolute;
		top: 45%;
	}

	#land-title{
	font-size: 40px;

	}

	#land-text{
	font-size: 15px;
	}

	#land-btn-1,
	#land-btn-2{
		height: 50px;
		width: 150px;
		font-size: 20px;
		border: 2px solid #ffc0cb;
	}

	footer{
		font-size: 10px;
	}




}

@media screen and (min-width: 401px) and (max-width: 960px){
	body{
	background-image: url(./../images/landing-img-tablet.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*color: red;*/
	}
	.container{
		position: absolute;
		top: 45%;
		/*padding-top: 75%*/
	}


}

@media screen only and (max-width: 961px){


}